/*************VARIABLES**************/
$secondary-background-color  :   white;
$main-container-width        :   90%;





/*************STYLES*************/


.main-header {
  width: $main-container-width ;
  /*display:block;*/
  margin: auto;
  @include breakpoint(tablet){
  display: flex;
  flex-direction: column;
  align-items: center;}
  @include breakpoint(desktop){
    flex-direction: row;
    justify-content: space-between;
    }
  }



.main-nav
  { a {width: 100%;}
      li {
          margin: 5px 20px;
        }
    @include breakpoint(tablet)
      {
      display: flex;
      align-items: flex-end;

      }
   @include breakpoint(desktop)
      {
        margin: 5px 0px 5px 20px;
      }
    }




.profile-section{
  width: $main-container-width ;
  @extend %margin0;
  @include breakpoint(tablet){
      display: flex;
      padding-top: 15pt;
      padding-bottom: 15pt;
      }
  @include breakpoint(desktop){
     }
  }


.profile-pic{
  width:60%;
  @extend %margin0;
  padding-bottom: 15pt;
  @include breakpoint(tablet){
      width:40%;
      padding-left: 10pt;
      order: 2;
      }
  }

.profile-intro {

  padding-bottom: 5pt;
  width: 100%;
  @extend %margin0;
  @include breakpoint(tablet){
    line-height: 20pt;
    width: 60%;
     p
       {text-align: left;
        padding-top: 15pt;
        margin: 0;
        margin-right: 0;
        }
      }
  @include breakpoint(desktop)
    { line-height: 30pt;
      p
      {margin-right: 10pt;
       order: -1;
      }
    }
  }

.portfolio-heading{
  padding-bottom: 15pt;
  padding-top: 20pt;
  margin: 0;
    }

.port-background{
  width: 100%;
  background-color: $secondary-background-color;
  background-size: cover;
  padding-top: 10pt;
  padding-bottom: 10pt;
  clear: both;
  min-height: 100pt;
  display:inline-block;
  @include breakpoint(desktop)
    {
    margin: 0 auto;
    }
  }

.main-portfolio{
  display: flex;
  flex-wrap: wrap;
  @extend %margin0;
   .col {flex-basis: 300px;
         align-content: space-between;
         margin: 0 auto;
          }
  @extend %primary_container_width;
  padding-bottom: 10pt;
  @extend %centered;
  @extend %margin0;
  @include breakpoint(tablet){
    width: $main-container-width ;
    }
  @include breakpoint(desktop){
    width: 95%;

    }
  }

.portfolio-text {
  @extend %primary_container_width;
  @extend %margin0;
  padding-bottom: 10pt;
  @include breakpoint(tablet){
    width: $main-container-width ;
    min-height: 50pt;
    max-height: 50pt;
    padding-bottom: 20pt;
    }
  }

.skills, .contact{
  padding-top: 30pt;
  @extend %primary_container_width;
  @extend %margin0;
  @include breakpoint(tablet){
      clear:both;
      padding-top: 10pt;
      display:block;
      width: 60%;
      margin: 10pt auto;
      }
  }

.phone {
  padding-top: 10pt;
  }

.email{
  padding-bottom: 30pt;
  }
